<h1>View Task</h1>
<%= link_to 'Back to Task List', tasks_path %>

<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.title %> (Priority: <%= @task.priority if @task.priority %>)</td>
      <td><%= @task.description %></td>
      <td><%= @task.start_time if @task.start_time %></td>
      <td><%= @task.end_time if @task.end_time %></td>
      <td><%= @task.status if @task.status %>(Status: <%= @task.status if @task.status %>)</td>
      <td>
        <%= link_to '編輯', edit_task_path(id: @task.id) %>
        <%= link_to '刪除', task_path(id: @task.id), method: 'delete', data: {confirm: '確認刪除?' } %>
      </td>
    </tr>
  </tbody>
</table> 